# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Spring Boot
*.log
application-secret.properties

# OS files
.DS_Store
Thumbs.db

# Node/npm (if present)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.*secret.*